{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "ignoreRestSiblings": true
    }],
    "no-void": ["error", { "allowAsStatement": true }],
    "@typescript-eslint/no-floating-promises": ["error"],
    "class-methods-use-this": ["off"],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }],
    "jsx-a11y/label-has-associated-control": ["error", {
      "labelComponents": [],
      "labelAttributes": [],
      "controlComponents": [],
      "assert": "either",
      "depth": 25
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true
    }],
    "react/jsx-props-no-spreading": ["off"],
    "react/no-danger": ["off"],
    "react/require-default-props": ["error", {"ignoreFunctionalComponents": true, "forbidDefaultForRequired": true}],
    "@next/next/no-img-element": ["off"],
    "@next/next/no-document-import-in-page": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["./src"]
      }
    }
  }
}
