{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": [],
  "ignorePatterns": ["lib/*", "**/dist/*", "**/.next/*"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "ignoreRestSiblings": true
    }],
    "@next/next/no-html-link-for-pages": ["error", "site/src/pages"],
    "no-void": ["error", { "allowAsStatement": true }],
    "@typescript-eslint/no-floating-promises": ["error"],
    "class-methods-use-this": ["off"],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "jsx-a11y/label-has-associated-control": ["error", {
      "labelComponents": [],
      "labelAttributes": [],
      "controlComponents": [],
      "assert": "either",
      "depth": 25
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true
    }],
    "react/jsx-props-no-spreading": ["off"],
    "react/no-danger": ["off"],
    "react/require-default-props": ["error", {"ignoreFunctionalComponents": true, "forbidDefaultForRequired": true}],
    "@next/next/no-img-element": ["off"]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".mjs"]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".mjs"]
      }
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".mjs"]
  }
}