* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000;
  font-family: OpenDyslexic, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
}

#app {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @mixin theme-color background-color, back2;
  @mixin theme-color color, text2;
}

#app.is-box {
  max-height: 100vh;
  overflow: hidden;
}

#app > main {
  flex-grow: 1;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}

input,
button {
  font-size: 1rem;
  border-radius: 4px;
}

input[type=text]::placeholder {
  opacity: 1;
  @mixin theme-color color, input-placeholder;
}

button {
  display: inline-block;
  outline: none;
  padding: 0.5rem;
  appearance: none;
  cursor: pointer;
  line-height: 1.2;
  @mixin theme-color background, button-back;
  @mixin theme-color color, button-text;
}

button:hover {
  @mixin theme-color color, button-hover-text;
}

input[type=text] {
  display: inline-block;
  outline: none;
  padding: 0.5rem;
  @mixin theme-color background, input-back;
  @mixin theme-color color, text1;
}

a,
a:link,
a:visited {
  @mixin theme-color color, link-text;
}

a:link {
  @mixin theme-color color, link-text;
}

a:hover {
  @mixin theme-color color, link-active;
}

a:active {
  @mixin theme-color color, link-active;
}

.hide {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.hover {
  cursor: pointer;
}
