
@import "./themeswitcher.css";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--back1);
  color: var(--text1);
  z-index: 2;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(36, 41, 51, 0.15);
}

.layout-footer {
  z-index: 1;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.layout-theme-switcher {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.layout-header-show {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--control-text) !important;
  background: var(--control-back) !important;
  border: 3px solid var(--control-border);
}

.layout-header-show:hover {
  color: var(--control-hover-text) !important;
  border: 3px solid var(--control-hover);
}

.layout-header-home {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: var(--purple);
}

.layout-header-home a {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.layout-box-nav-controls {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.layout-box-nav-controls > button {
  display: inline-block;
  color: var(--control-text) !important;
  background: var(--control-back) !important;
  border: 3px solid var(--control-border);
}

.layout-box-nav-controls > button:not(:last-child) {
  margin-right: 0.5rem;
}

.layout-box-nav-controls > button:not(:first-child) {
  margin-left: 0.5rem;
}

.layout-box-nav-controls > button:hover {
  color: var(--control-hover-text) !important;
  border: 3px solid var(--control-hover);
}

.layout-main {
  flex-grow: 1;
}
