.layout-theme-switcher > button {
  color: var(--color-text);
  border: 3px solid var(--color-border);
}

.layout-theme-switcher > button.active {
  color: var(--color-active);
  border: 3px solid var(--color-active-border);
}

.layout-theme-switcher > button:hover {
  color: var(--color-hover-text);
  border: 3px solid var(--color-hover);
}

.layout-theme-switcher > button.active:hover {
  color: var(--color-hover-text);
  border: 3px solid var(--color-hover);
}
